## 17th feb

## Q1.

MongoDB is the developer data platform company empowering innovators to create, transform, and disrupt industries by unleashing the power of software and data. Headquartered in New York, MongoDB has more than 39,100 customers in over 100 countries.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn’t fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

## Q2.

Features of MongoDB –
 

<b>Schema-</b>less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

<b>Document Oriented:</b> In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.
Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

<b>Scalability:</b> MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.
Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

<b>Aggregation:</b> It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods
High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

## Q3.

In [3]:
import pymongo

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 3.2 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 16.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:

client = pymongo.MongoClient("mongodb+srv://gopalghoshx0:amijanina@pw.ihsyvfo.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
db = client['asi']

In [6]:
coll_asi = db['2nd data set']

In [7]:
framedata= [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

## Q4.

In [8]:
 for i in coll_asi.find():
        print(i)

{'_id': ObjectId('63fa436bfc0e67ef3786ee54'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee55'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee56'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee57'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee58'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee59'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5f'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [9]:
coll_asi.find_one()

{'_id': ObjectId('63fa436bfc0e67ef3786ee54'),
 'name': 'Amy',
 'address': 'Apple st 652'}

## Q5.

n MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one. It takes only some optional parameters. The first optional parameter is the selection criteria on which we want to return a cursor. To return all documents in a collection use empty document({}). Using this method you can also replace embedded documents. You can also use this method in multi-document transactions. If you use this method in the mongo shell, then the shell will automatically iterate the cursor to display up to 20 documents in the collection, if you want to continue then type it or you can manually iterate the result of the find() method by assigning the returned cursor to a variable with the var keyword. You can also modify the behavior of this method using cursor methods.

In [13]:
 for i in coll_asi.find():
        print(i)

{'_id': ObjectId('63fa436bfc0e67ef3786ee54'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee55'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee56'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee57'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee58'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee59'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5f'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Q6.

Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction)

In [15]:
stdb=coll_asi.find().sort("name")
for i in stdb:
    print(i)

{'_id': ObjectId('63fa436bfc0e67ef3786ee54'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee58'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee55'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee56'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee59'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee57'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fa436bfc0e67ef3786ee5d'), 'name': 'William', 'address': 'Central st 954'}

## Q7.

Delete_many()
Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().